DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=a956KvUm
JDBC_URL=jdbc:postgresql://db:5432/postgres
DB_DRIVER=org.postgresql.Driver

JWT_SECRET=W8xN6ZcS8q0eD1kV2uF7wJrB5pL9mT6zY3qT0fH3rN5gB8vK

GIGA_CHAT_API_KEY=Yzc5Zjg3YjItZTVlYi00ODNlLWIxOWMtNjhiZDU1ZDI3ZThiOmM4ZjA3MzNlLTY0ODctNGZkNS1hNGYwLWYyNDlkODg2NjY0ZQ==
GEMINI_API_KEY=AIzaSyCu_48LQ_X8AW6a9-OVwGvcepUtKVpOvRQ

SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE=50MB
SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE=50MB

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_KMS_SECRET_KEY=my-minio-key:Vo3nMhtrIgNkfJ9+Cn7KmV7cAnEUaDczLOnki6YQZXE=

AI_SERVICE_URL=http://natk-ai:8080
PDF_SERVICE_URL=http://natk-pdf:8080
MINIO_URL=http://natk-minio:9000

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

# Registry configuration
REGISTRY=ghcr.io/alexvoin04/#Empty if need to local testing